
<p style="text-align:center;">选择活动类型</p>
<form class="layui-form">
   <div class="item">
        <input type="radio" name="activityType" value="rw" title="任务型">
    </div>
    <div class="item">
        <input type="radio" name="activityType" id="" value="wpdhdemo" title="Demo物品兑换型">
    </div>
    <div class="item">
        <input type="radio" name="activityType" value="wpdh" title="物品兑换型" >
    </div>
    <div class="item">
        <input id="rjzj" type="radio" name="activityType" value="rjzj" title="入金赠金型" >
    </div>
    <div class="item">
        <input id="cj" type="radio" name="activityType" value="cj" title="层级型" >
    </div>
    <button class="node-submit" lay-filter="seeAddRow" lay-submit style="display:none;"></button>
</form>

    
    
    
    