<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-block">
            <input disabled type="text" name="userNo" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码<span class="mustInput"></span></label>
        <div class="layui-input-block">
            <input type="password" lay-verType="tips" name="userName1" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码<span class="mustInput"></span></label>
        <div class="layui-input-block">
            <input type="password" lay-verType="tips" name="userName2" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div style="display: none;">
        <button class="node-menulist" lay-submit lay-filter="allotUser"></button>
    </div>
</form>