<%if(powerlist.length){%>
  <button class="layui-btn layui-btn layui-btn-sm add hide"><i class="layui-icon">&#xe654;</i>新增</button>
  <button class="layui-btn layui-btn layui-btn-sm delete hide"><i class="layui-icon">&#xe654;</i>删除</button>
<%}else{%>
  <button class="layui-btn layui-btn layui-btn-sm add"><i class="layui-icon">&#xe654;</i>新增</button>
  <button class="layui-btn layui-btn layui-btn-sm delete"><i class="layui-icon">&#xe654;</i>删除</button>
<%}%>