<form action="" class="layui-form power">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label for="" class="layui-form-label">数据类型</label>
        </div>
        <div class="layui-inline">
            <select name="viewType" id="" lay-filter="viewType">
                <option value="customer_personal_info" selected>客户个人资料</option>
                <option value="common_columns">通用控制属性</option>
            </select>
        </div>
    </div>
        <div class="customer"></div>
        <div class="common"></div>  
    <button class="layui-btn powerSave" lay-submit lay-filter="power" style="display:none;"></button>
</form>