<form action="" class="layui-form">
  <div class="layui-form-item">
    <label for="" class="layui-form-label">输入确认码</label>
    <div class="layui-input-block">
      <img src="" alt="">
    </div>
  </div>
  <div class="layui-form-item">
      <input type="text" class="layui-input" lay-verify="required" lay-verType="tips">
  </div>
  <button class="layui-btn node-del" style="display:none;" lay-submit lay-filter="del"></button>
</form>