<div class="layui-form-select layui-checkSelect">
    <div class="layui-select-title">
        <textarea name="" placeholder="请输入" class="layui-textarea"></textarea><i class="layui-edge"></i>
    </div>
    <dl class="layui-anim layui-anim-upbit layui-select-group" style="">
        <dd lay-value="" class="layui-select-tips">--请选择--</dd>
        <dt>wh</dt>
        <dd lay-value="" class="layui-this"></dd>
    </dl>
</div>