<form action="" class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label for="">账号</label>
        </div>
        <div class="layui-inline">
            <p></p>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label for="">原密码:<span class="mustInput"></span></label>
        </div>
        <div class="layui-inline">
            <input type="text" class="layui-input" name="oldPassword">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label for="">新密码<span class="mustInput"></span></label>
        </div>
        <div class="layui-inline">
            <input type="text" class="layui-input" name="newPassword">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label for="">重新输入密码<span class="mustInput"></span></label>
        </div>
        <div class="layui-inline">
            <input type="text" class="layui-input" name="newPasswordAgin">
        </div>
    </div>
    <button class="layui-btn node-modify" style="display:none;" lay-filter="modifyPwd" lay-submit></button>
</form>