
<%if(powerlist.length){%>
  <button class="layui-btn layui-btn layui-btn-sm export hide"><i class="layui-icon">&#xe654;</i>导出</button>
  <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm refresh hide"><i class="layui-icon">&#xe640;</i>刷新</button>
<%}else{%>
  <button class="layui-btn layui-btn layui-btn-sm export"><i class="layui-icon">&#xe654;</i>导出</button>
  <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm refresh"><i class="layui-icon">&#xe640;</i>刷新</button>
<%}%>