@font-face {
  font-family: 'icomoon';
  src:  url('/css/fonts/icomoon.eot?xlk7e');
  src:  url('/css/fonts/icomoon.eot?xlk7e#iefix') format('embedded-opentype'),
  url('/css/fonts/icomoon.ttf?xlk7e') format('truetype'),
  url('/css/fonts/icomoon.woff?xlk7e') format('woff'),
  url('/css/fonts/icomoon.svg?xlk7e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-choice:before {
  content: "\e90f";
  color: #fff;
}
.icon-personal_padlock:before {
  content: "\e90d";
}
.icon-personal_close:before {
  content: "\e904";
}
.icon-personal_company:before {
  content: "\e905";
}
.icon-personal_phone_book:before {
  content: "\e90e";
}
.icon-Inquire_add-Copy:before {
  content: "\e901";
  color: #fff;
}
.icon-Inquire_delete-Copy:before {
  content: "\e902";
  color: #fff;
}
.icon-home_arrow:before {
  content: "\e900";
}
.icon-Inquire_card:before {
  content: "\e903";
}
.icon-Inquire_iphone:before {
  content: "\e906";
}
.icon-upload_adress:before {
  content: "\e907";
}
.icon-upload_arrow:before {
  content: "\e908";
}
.icon-upload_arrow_down:before {
  content: "\e909";
}
.icon-upload_ip:before {
  content: "\e90a";
}
.icon-upload_mail:before {
  content: "\e90b";
}
.icon-upload_name:before {
  content: "\e90c";
}
