//bgColor
$bgWhite:#FFF;
$bgColor-00:#F7490D;
$bgColor-01:#09103C;
$bgColor-02:#060C2D;
$bgColor-03:rgba(229,230,239,0.12);
$bgColor-04:#F2F4F7;
$bgColor-05:#BC0106;
$bgColor-06:#282D4F;
$bgColor-07:rgba(40,45,79,0.32);
$bgColor-08:#FCFCFD;
$bgColor-09:#F8F8F9;
$bgColor-10:#FAFAFA;
$bgColor-11:#F2F2F6;
$bgColor-12:#ECEEF1;
$bgColor-13:#5C67DC;//theme-color 主题色
$bgColor-14:rgba(103,114,229,0.08);
$bgColor-15:rgba(248,248,250,0.4);
$bgColor-16:rgba(103,114,229,0.1);
$bgColor-17:#6772E5;// slidebar:after

//font-color
$fontColor-00:#131626;//常规文字颜色
$fontColor-01:#555762;
$fontColor-02:#FF1F00;
$fontColor-03:#282D4F;
$fontColor-04:#5d5f6f;
$fontColor-05:#A10005;
$fontColor-06:#131626;
$fontColor-07:#009688;
$fontColor-08:#6772E5;//
$fontColor-09:rgba(19,22,38,.84);
$fontColor-10:#E30425;
$fontColor-11:rgba(0,0,0,.32);
$fontColor-12:rgba(0,0,0,.54);
$fontWhite:#fff;
//border-color
$blColor-00:rgba(1,5,71,0.15);
$blColor-01:#02041E;
$blColor-02:#E5E6EC;
$blColor-03:#282D4F;
$blColor-04:#111327;