
<p style="text-align:center;">选择物品类型</p>
<form class="layui-form">
   <div class="item">
        <input type="radio" name="giftType" value="real" title="实物物品">
    </div>
    <div class="item">
        <input type="radio" name="giftType" value="virtual" title="虚拟物品" >
    </div>
    <div class="item">
        <input type="radio" name="giftType" value="interface" title="接口物品" >
    </div>
    <div class="item">
        <input type="radio" name="giftType" value="withGold" title="赠金" >
    </div>
    <div class="item">
        <input type="radio" name="giftType" value="analogCoin" title="模拟币" >
    </div>
    <div class="item">
        <input type="radio" name="giftType" value="tokenCoin" title="代币" >
    </div>
    <button class="node-submit" lay-filter="seeAddRow" lay-submit style="display:none;"></button>
</form>