<form action="" class="layui-form">
  <div class="layui-form-item">
    <label for="" class="layui-form-label">所属标签</label>
    <div class="layui-inline">
      <input type="checkbox" class="layui-checkbox" title="热门活动">
      <input type="checkbox" class="layui-checkbox" title="app活动">
      <input type="checkbox" class="layui-checkbox" title="测试组">
    </div>
  </div>
  <button class="layui-btn" lay-submit lay-filter="submit-tags" style="display:none;"></button>
</form>