.m-container {
    .layout-3 {
        .data-table-child + .layui-table-view {
            margin: 0;
        }
        .child-td {
            padding: 0;
        }
    }
}
.layui-layer{
    .layui-form{
        .f-table{
            width: 100%;
            td{
               padding-bottom: 15px;
               padding-left: 5px;
               padding-right: 5px;
                &.align{
                    text-align: right;
                }
                .layui-inline input{
                    width: 100%;
                }
                &.sort-td{
                    
                }
            }
        }
    }
}
