<div class="layui-form-item">
  <label for="" class="layui-form-label"></label>
  <div class="layui-inline">
    <select name="" id="">
      <option value="">--请选择--</option>
    </select>
  </div>
</div>