<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://code.alibabatech.com/schema/dubbo  
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
		
	<dubbo:reference id="actJoinQualifyDubboService"
		interface="com.gwghk.unify.activity.common.inf.ActJoinQualifyDubboService"
		check="false" timeout="1000000"/>
		
	<dubbo:reference id="actAccountActivityDubboService"
		interface="com.gwghk.unify.activity.common.inf.ActAccountActivityDubboService"
		check="false" timeout="1000000"/>
		
	<dubbo:reference id="actHandleDubboService"
		interface="com.gwghk.unify.activity.common.inf.ActHandleDubboService"
		check="false" timeout="1000000"/>
	
	<dubbo:reference id="actMessageDubboService"
		interface="com.gwghk.unify.activity.common.inf.ActMessageDubboService"
		check="false" timeout="1000000"/>
</beans>