
<div class="layui-form-item pcuiItem">
  <div class="layui-inline">
    <label for="" class="layui-form-label flex flex-align-items">
      <em class="required">*</em>
      <span>推送的PCUI</span>
    </label>
    <div class="layui-inline">
      <input class="layui-inline" type="checkbox" name="pushPcuiTypeList" value="2" lay-skin="primary" title="FX GTS2 PCUI">
    </div>
  </div>
</div>