<form class="layui-form">
        <table class="layui-form-base">
            <thead>
                <tr>
                    <th colspan="6" class="title"><p><span>任务型</span>-活动基础设置</p></th>                    
                </tr>
                <tr class="h15"></tr>
            </thead>
            <tbody class="layui-form-table">
                    <tr>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">活动类型<span class="mustInput"></span></label>
                            </div>
                        </td>
                        <td>
                            <div class="layui-inline">
                                <span>活动类型</span>
                            </div>
                        </td>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">活动编号<span class="mustInput"></span></label>
                            </div>
                        </td>
                        <td>
                            <div class="layui-inline">
                                <span>fx_rjzj_20171221150327</span>
                            </div>
                        </td>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">活动名称<span class="mustInput"></span></label>
                            </div>
                        </td>
                        <td>
                            <div class="layui-inline">
                                <span>活动名称</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">活动开始时间<span class="mustInput"></span></label>
                            </div>
                        </td>
                        <td>
                            <div class="layui-inline">
                                <span>2017-12-22 00:00:00</span>
                            </div>
                        </td>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">活动结束时间<span class="mustInput"></span></label>
                            </div>
                        </td>
                        <td>
                            <div class="layui-inline">
                                <span>2017-12-30 23:59:59</span>
                            </div>
                        </td>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">活动完成时间</label>
                            </div>
                        </td>
                        <td>
                            <div class="layui-inline">
                                <span>0天</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">代币有效期</label>
                            </div>
                        </td>
                        <td>
                            <div class="layui-inline">
                                <span>0天</span>
                            </div>
                        </td>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">活动状态</label>   
                            </div>
                        </td>
                        <td>
                            <div class="layui-inline">
                                <span>启用</span>
                            </div>
                        </td>

                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">奖励发放方式</label>
                            </div>
                        </td>
                        <td>
                            <div class="layui-input-inline">
                                <span>自动发放</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">奖励优先发放平台</label>
                            </div>
                        </td>
                        <td colspan="5">
                            <div class="layui-inline">
                                <span>MT4</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">活动描述</label>
                            </div>
                        </td>
                        <td colspan="5">
                            <div class="layui-inline">
                                <span>活动描述</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">活动链接地址</label>
                            </div>
                        </td>
                        <td colspan="5">
                            <div class="layui-inline">
                                <span>活动链接地址</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">其他信息</label>
                            </div>
                        </td>
                        <td colspan="5">
                            <div class="layui-inline">
                                <span>其他信息</span>
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>
        <table class="layui-form-exp"> 
            <thead>
                <tr>
                    <th colspan="6" class="title">
                        <p>
                            <span>参与活动条件</span> 
                            <span class="tips">(温馨提示：活动一旦审批通过且已开始，则不能修改活动的开始时间及参与条件（除黑白名单有权限的人可以修改外），请知悉！)</span>
                        </p>
                    </th>
                </tr>
                <tr class="h15"></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">账号类型<span class="mustInput"></span></label>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <span>真实账户</span>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">账号唯一性<span class="mustInput"></span></label>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <span>否</span>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                                <label class="layui-form-label">账号级别<span class="mustInput"></span></label>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline accountLevel">
                            <span>MINI</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">账号状态<span class="mustInput"></span></label>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <span>未激活</span>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">激活时间</label>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <span>激活时间</span>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">是否允许取款</label>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <span>否</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">参与活动平台<span class="mustInput"></span></label>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <span>GTS2(USD)</span>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">账号注册时间<span class="mustInput"></span></label>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <span>GTS2(USD)</span>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">注销过账号参加活动<span class="mustInput"></span></label>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <span>否</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">只允许白名单用户参加活动</label>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <span>否</span>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">上传白名单</label>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <span></span>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">上传黑名单</label>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <span></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">交易产品</label>
                        </div>
                    </td>
                    <td colspan="5">
                        <div class="layui-inline">
                            <span></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="layui-form-prize">
            <thead>
                <tr class="prize-title">
                    <th class="title">
                        <p>
                            <span>任务与奖励</span>
                            <span class="tips">(必填)</span>
                        </p>
                    </th>
                </tr>
                <tr class="h15"></tr>
            </thead>
            <tbody>
                <tr class="prize-content">
                    <table class="prize-table">
                        <tbody>
                            <tr>
                                <td>
                                    <label class="layui-form-label">任务<span class="mustInput"></span></label>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <span>	真实账号入金 0 小时</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="layui-form-label">任务描述</label>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <span>	真实账号入金 0 小时</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="layui-form-label">奖励物品<span class="mustInput"></span></label>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <span>	真实账号入金 0 小时</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    
                                </td>
                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="layui-inline">
                                                        <span>	入金金额 1 美元  至  10 美元</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="layui-inline">
                                                        <span>	FX_赠金   1   美元         平仓手数  1 手</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <table class="prize-table">
                        <tbody>
                            <tr>
                                <td>
                                    <label class="layui-form-label">任务<span class="mustInput"></span></label>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <span>	真实账号入金 0 小时</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="layui-form-label">任务描述</label>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <span>	真实账号入金 0 小时</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="layui-form-label">奖励物品<span class="mustInput"></span></label>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <span>	真实账号入金 0 小时</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    
                                </td>
                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="layui-inline">
                                                        <span>	入金金额 1 美元  至  10 美元</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="layui-inline">
                                                        <span>	FX_赠金   1   美元         平仓手数  1 手</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </tr>
            </tbody>
        </table>
        <div class="btns" style="text-align:right;padding-right:15px;">
            <button class="layui-btn layui-btn-primary back">返回</button>
        </div>
    </form>