<tr class="prize-item">
    <td>
        <div class="layui-inline">
            <label class="layui-form-label">物品:</label>
        </div>
        <div class="layui-inline">
            <select name="addItemCode_" id="" lay-filter="addItemCode">
                <option value="">--请选择--</option>
                <option value="FX_170926153509" giftType="withGold"
                    itemCategory="">FX_赠金</option>
                <option value="FX_170927095132" giftType="analogCoin"
                    itemCategory="">FX_模拟币</option>
                <option value="FX_170928150348" giftType="virtual"
                    itemCategory="mobile_data">FX_流量daphne</option>
                <option value="FX_170928150435" giftType="virtual"
                    itemCategory="member_vip">FX_会员daphne</option>  
                <option value="FX_170928150511" giftType="interface"
                    itemCategory="mobile_data">FX_流量daphne（接口）</option>
                <option value="FX_170928150546" giftType="interface"
                    itemCategory="mobile_charge">FX_话费daphne（接口）</option>
                <option value="FX_170928150605" giftType="interface"
                    itemCategory="member_vip">FX_会员daphne（接口）</option>
                <option value="FX_171021101926" giftType="tokenCoin"
                    itemCategory="">FX_代币</option>
                <option value="FX_10001" giftType="real"
                    itemCategory="">FX_EVA_异常物品</option>
                <option value="FX_171204141533" giftType="real"
                    itemCategory="">FX_银元宝</option>
            </select>
        </div>
        <div class="layui-inline hide">
            <div class="layui-inline">
                <label for="" class="layui-form-label">最高领取次数:</label>
            </div>
            <div class="layui-inline">
                <input type="text" class="layui-input">
            </div>
            <div class="layui-inline">次</div>
        </div>
        <div class="layui-inline hide">
            <div class="layui-inline">
                <label for="" class="layui-form-label">最高额度:</label>
            </div>
            <div class="layui-inline">
                <input type="text" class="layui-input">
            </div>
            <div class="layui-inline">元</div>
        </div>
        <div class="layui-inline hide money">
            <div class="layui-inline">
                <input type="text" class="layui-input">
            </div>
            <div class="layui-inline">元</div>
        </div>
        <div class="layui-inline hide times">
            <div class="layui-inline">
                <label for="" class="layui-form-label">交易手数:</label>
            </div>
            <div class="layui-inline">
                <input type="text" class="layui-input">
            </div>
            <div class="layui-inline">手</div>
        </div>
        <div class="layui-inline hide interface">
            <div class="layui-inline">
                <div class="layui-inline">
                    <select name="tempInfItemParamVar_0" id="">
                        <option value="" selected>--请选择--</option>
                        <option value="">X*Y*Z</option>
                        <option value="">X*Y+Z</option>
                    </select>
                </div>
                <div class="layui-inline">M</div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline">
                    <label for="" class="layui-form-label">最高额度:</label>
                </div>
                <div class="layui-inline">
                    <input type="text" class="layui-input" name="tempInfParamMax_0">
                </div>
                <div class="layui-inline">元</div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline">
                    <select name="tempInfParamMaxUnit_0" id="">
                        <option value="" selected>--请选择--</option>
                        <option value="">M</option>
                        <option value="">G</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline">
                    <div class="layui-inline">X = 当前模拟账号平仓次数参数值</div>
                </div>
                <div class="layui-inline">
                    <div class="layui-inline">Y = </div>
                    <div class="layui-inline">
                        <input type="text" class="layui-input" name="tempInfParamY_0">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-inline">Z = </div>
                    <div class="layui-inline">
                        <input type="text" class="layui-input" name="tempInfParamZ_0">
                    </div>
                </div>
            </div>
        </div>        
        <div class="layui-inline">
            <button class="layui-btn layui-btn-xs layui-btn-danger del-prize"><i class="layui-icon">&#xe640;</i>删除</button>
        </div>
    </td>
</tr>