<form action="" class="layui-form">
  <div class="layui-form-item">
    <label for="" class="layui-form-label">手机号</label>
    <div class="layui-input-block">
      <input type="text" class="layui-input" lay-verify="required" lay-verType="tips">
    </div>
  </div>
  <div class="layui-form-item">
    <label for="" class="layui-form-label">短信内容</label>
    <div class="layui-input-block">
      <textarea name="" id="" cols="30" rows="10" lay-verify="required" lay-verType="tips"> 

      </textarea>
    </div>
  </div>
  <button class="layui-btn" lay-submit lay-filter="addItem" style="display:none;"></button>
</form>