<form class="layui-form">
<div style="margin-top:10px;"></div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label for="" class="layui-form-label"><em class="required">*</em><span>请输入备注信息</span></label>
            <div class="layui-inline">
                <input type="text" class="layui-input" id="remark" name="remark">
            </div>
        </div>
    </div>
    <button style="display:none;" class="layui-btn addRemark" lay-submit lay-filter="addRemark"></button>
</form>