<p>您确定要取消选中的提案吗?取消原因:</p>
<form action="" class="layui-form">
  <div class="form-list-item">
    <input type="text" name="reson" class="layui-input">
  </div>
  <div class="options-bar">
    <button class="layui-btn" lay-submit lay-filter="editFormComfirm">确定</button>
  </div>
</form>