.layui-form {
  padding-top: 8px;
}

.layui-form .layui-form-item {
  padding-bottom: 12px;
  margin-bottom: 0;
  box-sizing: border-box;
}

.layui-form .layui-form-item .layui-inline {
  margin-right: 0;
  margin-bottom: 0;
}

.layui-form .layui-form-item .layui-inline:first-child {
  margin-right: 34px;
}

.layui-form .layui-form-item .layui-inline.no-mr {
  margin-right: 0;
}

.layui-form .layui-form-item .layui-inline .append {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  right: 10px;
  top: 0;
  line-height: 32px;
  height: 32px;
}

.layui-form .layui-form-item.no-mb {
  padding-bottom: 0;
  margin-bottom: 0;
}

.layui-form .layui-form-item .layui-form-label {
  width: 56px;
  height: 32px;
  margin-right: 12px;
  color: #131626;
  padding: 0;
  text-align: left;
  position: relative;
}

.layui-form .layui-form-item .layui-form-label .required {
  position: absolute;
  color: #A10005;
  font-size: 20px;
  left: -10px;
  font-weight: bold;
  top: 10px;
}

.layui-form .layui-form-item .layui-input, .layui-form .layui-form-item .layui-form-select {
  width: 216px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 4px;
}

.layui-form .layui-form-item .layui-input-reset {
  width: 105px;
}

.layui-form .layui-form-item textarea, .layui-form .layui-form-item .layui-textarea {
  min-height: 56px;
  resize: vertical;
  border-radius: 4px;
}

.layui-form .layui-form-item .layui-form-radio {
  margin: 0;
  width: 216px;
}

.layui-form .layui-form-item .layui-btn {
  padding: 5px 29px;
  background: #282D4F;
  color: #FFF;
  border-radius: 4px;
  height: 40px;
  line-height: 30px;
}

.layui-form .layui-form-item .flex-item .layui-input {
  width: 100%;
}

.layui-form .layui-searchPanel-content .layui-form-item .search-item {
  height: 32px;
}

.layui-form .layui-searchPanel-content .layui-form-item .search-item .layui-form-inner-label {
  height: 30px;
  line-height: 30px;
  border-right: solid 1px rgba(1, 5, 71, 0.15);
  text-align: center;
}

.layui-form .layui-searchPanel-content .layui-form-item .search-item .layui-input {
  width: 100%;
  height: 30px;
}

.layui-form .layui-searchPanel-content .layui-form-item .search-item:hover .layui-form-inner-label {
  line-height: 30px;
  border-right: solid 1px #111327;
}

.layui-form.single .layui-textarea, .layui-form.single .layui-input, .layui-form.single .layui-form-select {
  width: 375px;
}

.layui-form select.itemUnit + .layui-form-select {
  width: 50px;
}

.layui-form select.itemUnit + .layui-form-select .layui-input {
  width: 50px;
}

.m-container .layui-form .layui-form-item {
  padding-bottom: 8px;
}

.m-container .layui-form .layui-form-item .layui-form-radio {
  width: 90px;
}

.m-container .layui-form .layui-form-item .middleText {
  color: #6772E5;
}

.m-container .layui-form .layui-form-item .rules {
  height: 32px;
  line-height: 32px;
  padding-bottom: 12px;
}

.m-container .layui-form .layui-form-item .rules .middle {
  margin: 0 8px;
}

.m-container .layui-form .layui-form-item .rules .layui-input-xs {
  width: 70px;
  padding-right: 22px;
}

.m-container .layui-form .layui-form-item .rules .days {
  border: solid 1px rgba(1, 5, 71, 0.15);
  position: relative;
  border-radius: 4px;
}

.m-container .layui-form .layui-form-item .rules .days .append {
  position: absolute;
  right: 10px;
  top: 0px;
  color: rgba(0, 0, 0, 0.32);
}

.m-container .layui-form .layui-form-item .tips-inner {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  padding-left: 68px;
}

.m-container .btns {
  text-align: center;
}

.m-container .card {
  background: #FFF;
  margin-bottom: 16px;
  padding-left: 32px;
  width: 100%;
  box-sizing: border-box;
}

.m-container .card.act-progress {
  margin-bottom: 0;
}

.m-container .card.top {
  padding: 16px 32px;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
}

.m-container .card .title {
  padding-left: 4px;
  width: 100%;
  height: 48px;
  line-height: 48px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  margin-bottom: 8px;
}

.m-container .card .title::after {
  position: absolute;
  width: 4px;
  height: 12px;
  top: 18px;
  left: -8px;
  background: #5C67DC;
  display: block;
  content: "";
}

.m-container .task-list .task {
  padding-right: 20px;
}

.m-container .task-list .task .taskNum {
  height: 32px;
  line-height: 32px;
  background: rgba(103, 114, 229, 0.08);
  font-weight: bold;
  font-size: 14px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.m-container .task-list .task .task-name {
  margin-bottom: 8px;
}

.mrl-8, .ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.bolder {
  font-weight: bold;
}
