.layui-layer .prizeItem .insert-tr {
  border: solid 1px rgba(1, 5, 71, 0.15);
  font-size: 0;
  border-radius: 4px;
}

.layui-layer .prizeItem .insert-tr .layui-inline {
  font-size: 14px;
}

.layui-layer .prizeItem .insert-tr .layui-inline .layui-input {
  border: none;
}

.layui-layer .prizeItem .insert-tr .unitItem {
  font-size: 14px;
  border-left: solid 1px rgba(1, 5, 71, 0.15);
}

.layui-layer .prizeItem .insert-tr .unitItem .layui-form-select {
  width: 56px;
  border: none;
}

.layui-layer .prizeItem .insert-tr .unitItem .layui-input {
  width: 56px;
  padding-left: 16px;
  padding-right: 8px;
}

.layui-layer .prizeItem .insert-tr .unitItem .unit {
  padding: 0 16px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
}

.layui-layer-content {
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.layui-form select.itemUnit + .layui-form-select {
  width: 100px;
}

.layui-form select.itemUnit + .layui-form-select .layui-input {
  width: 100px;
}
