.layui-container {
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  padding-left: 260px;
  background: #FFF;
}

.layui-container .left {
  position: absolute;
  left: 0;
  top: 0;
  width: 261px;
  height: 100%;
  padding: 0 12px;
  border-right: solid 1px #eee;
  box-sizing: border-box;
  overflow: hidden;
  background: rgba(248, 248, 250, 0.4);
}

.layui-container .left .layout-2 {
  height: 48px;
  line-height: 48px;
  text-align: center;
  padding: 0;
  background: rgba(248, 248, 250, 0.4);
}

.layui-container .left .layout-2 .layui-btn-xs {
  width: 40px;
  height: 24px;
  border-radius: 4px;
  background: #5C67DC;
  color: #FFF;
  font-size: 12px;
  padding: 0;
}

.layui-container .left .list {
  font-size: 0;
  text-align: left;
}

.layui-container .left .list li {
  margin-bottom: 5px;
  float: left;
  margin-right: 4px;
}

.layui-container .left .list li:last-child {
  margin-right: 0;
}

.layui-container .left .tree-box {
  width: 100%;
  height: calc(100% - 48px);
  overflow-y: auto;
}

.layui-container .left .tree-box .layui-tree {
  height: 100%;
}

.layui-container .left .tree-box .layui-tree li {
  width: 100%;
}

.layui-container .left .tree-box .layui-tree li ul {
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  margin-left: 0;
}

.layui-container .left .tree-box .layui-tree li a {
  width: 100%;
}

.layui-container .left .tree-box .layui-tree li .active {
  background: rgba(103, 114, 229, 0.1);
}

.layui-container .right {
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
}

.layui-container .btns {
  width: 100%;
  margin-right: 0;
  text-align: right;
}

.layui-container .btns .layui-btn {
  background: #5C67DC;
}

.layui-container .btns .layui-btn:first-child {
  margin-right: 14px;
}

.layui-container .btns .reset {
  background: #FFF;
  border: solid 1px #5C67DC;
  color: #5C67DC;
}

.layui-input-reset {
  display: inline-block;
  width: auto;
  text-align: center;
}

.single {
  width: 216px;
}

.single button {
  width: 24px;
  height: 24px;
  border: none;
  margin-top: 3px;
  background: #FFF;
  cursor: pointer;
}

.single .layui-input {
  width: 168px;
}

.detail {
  padding-top: 8px;
  padding-left: 32px;
  width: 100%;
  box-sizing: border-box;
}

.detail .layui-form-item {
  padding-bottom: 12px;
  margin-bottom: 0;
  box-sizing: border-box;
}

.detail .layui-form-item .layui-inline {
  margin-right: 0;
  margin-bottom: 0;
}

.detail .layui-form-item .layui-inline.single {
  width: 216px;
}

.detail .layui-form-item .layui-inline:first-child {
  margin-right: 34px;
}

.detail .layui-form-item .layui-inline.no-mr {
  margin-right: 0;
}

.detail .layui-form-item.no-mb {
  padding-bottom: 0;
  margin-bottom: 0;
}

.detail .layui-form-item .layui-form-label {
  width: 90px;
  height: 32px;
  margin-right: 12px;
  color: #131626;
  padding: 0;
  text-align: left;
  position: relative;
}

.detail .layui-form-item .layui-form-label .required {
  position: absolute;
  color: #A10005;
  font-size: 20px;
  left: -10px;
  font-weight: bold;
  top: 10px;
}

.detail .layui-form-item .layui-input, .detail .layui-form-item .layui-form-select {
  width: 216px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 4px;
}

.detail .layui-form-item .layui-input.sort {
  width: 168px;
  text-align: center;
}

.detail .layui-form-item .layui-input.big {
  width: 570px;
}

.detail .layui-form-item .layui-input-reset {
  width: 105px;
}

.detail .layui-form-item textarea, .detail .layui-form-item .layui-textarea {
  min-height: 56px;
  resize: vertical;
  border-radius: 4px;
}

.detail .layui-form-item .layui-form-radio {
  margin: 0;
  width: 216px;
}

.detail .layui-form-item .layui-btn {
  padding: 5px 29px;
  border-radius: 4px;
  height: 40px;
  line-height: 30px;
}

.detail .layui-form-item .detail-item .flex-item .layui-input, .detail .layui-form-item .detail-item .flex-item .layui-form-select {
  width: 100%;
}
