.layui-layer .layui-layer-content .layui-form .layui-form-item .flex-item .layui-input, .layui-layer .layui-layer-content .layui-form .layui-form-item .flex-item .layui-form-select {
  width: 100%;
}

.layui-layer .layui-layer-content .layui-form .layui-form-item .layui-textarea {
  width: 375px;
}

.no-border {
  border: none;
}

.mrl-8 {
  margin-left: 8px;
}
