<form action="" class="layui-form">
  <div class="layui-form-item pad-30 flex">
    <div class="layui-inline flex flex-item no-mr">
      <label for="" class="layui-form-label flex flex-align-items">
        <em class="required">*</em>
        <span>推送内容</span>
      </label>
      <div class="layui-inline flex-item">
        <textarea name="contentList" class="layui-textarea"></textarea>
      </div>
    </div>
  </div>
  <div class="layui-form-item pad-30 flex">
    <div class="layui-inline flex flex-item no-mr">
      <label for="" class="layui-form-label flex flex-align-items">
        <span>扩展信息</span>
      </label>
      <div class="layui-inline flex-item">
        <textarea name="extList" class="layui-textarea"></textarea>
      </div>
    </div>
  </div>
  <div class="layui-form-item pad-30 flex">
    <div class="layui-inline flex flex-item no-mr">
      <label for="" class="layui-form-label flex flex-align-items">
        <span>备注</span>
      </label>
      <div class="layui-inline flex-item">
        <textarea name="remarkList" class="layui-textarea"></textarea>
      </div>
    </div>
  </div>
</form>
