<button lay-event="view" class="layui-btn layui-btn-sm view hide"  > <i class="layui-icon">&#xe63c;</i>查看 </button>
<button lay-event="edit" class="layui-btn layui-btn-sm edit hide"> <i class="layui-icon">&#xe63c;</i>修改 </button>
<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger delete hide"> <i class="layui-icon">&#xe63c;</i>删除 </button>
<button lay-event="resetPassword" class="layui-btn layui-btn-sm resetPassword hide"> <i class="layui-icon">&#xe63c;</i>重置密码 </button>