<form class="layui-form">
  <div class="form-list-item">
    <!-- 活动编号 -->
    <div class="layui-inline">
      <label class="layui-form-label">模板</label>
      <div class="layui-input-inline">
        <button type="button" class="layui-btn">下载模板</button>
      </div>
    </div>
  </div>
  <div class="form-list-item">
    <div class="layui-inline">
      <label class="layui-form-label">上传黑名单</label>
      <div class="layui-input-inline">
        <div class="layui-upload">
          <button type="button" class="layui-btn layui-btn-normal" id="uploadBlackList">选择文件</button>
          <button type="button" class="layui-btn" id="uploadBlackListBtn">开始上传</button>
        </div>
      </div>
    </div>
  </div>
  <div class="options-bar">
    <button class="layui-btn" lay-submit lay-filter="editFormEdit">确定</button>
  </div>
</form>