<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://code.alibabatech.com/schema/dubbo  
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:reference id="actAccountActivityStatDubboService"
		interface=" com.gwghk.ims.common.inf.external.activity.ActAccountActivityStatDubboService"
		check="false" timeout="1000000"/>
	<dubbo:reference id="actSettlementDubboService"
		interface=" com.gwghk.ims.common.inf.external.activity.ActSettlementDubboService"
		check="false" timeout="1000000"/>
</beans>