<form class="layui-form">
    <table>
        <tbody>
            <tr>
                <td>
                    <div class="layui-inline">
                        <label for="" class="layui-form-label">客户账号<span class="mustInput"></span></label>
                    </div>
                </td>
                <td>
                    <div class="layui-inline">
                        <input type="text" class="layui-input" name="accountNo">
                    </div>
                </td>
                <td>
                    <div class="layui-inline">
                        <label for="" class="layui-form-label">活动平台<span class="mustInput"></span></label>
                    </div>
                </td>
                <td>
                    <select name="guestPlatForm" id=""> 
                        <option value="">--请选择--</option>
                        <option value="GTS">GTS</option>
                        <option value="GTS2">GTS2</option>
                        <option value="LGTS2">LGTS2</option>
                        <option value="MT4">MT4</option>
                        <option value="MT5">MT5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="layui-inline">
                        <label for="" class="layui-form-label">所属活动<span class="mustInput"></span></label>
                    </div>
                </td>
                <td>
                    <div class="layui-inline">
                        <select name="" id="">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="layui-inline">
                        <label for="" class="layui-form-label">活动编号<span class="mustInput"></span></label>
                    </div>
                </td>
                <td>
                    <input type="text" class="layui-input" name="activityPeriods">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="layui-inline">
                        <label for="" class="layui-form-label">所属任务<span class="mustInput"></span></label>
                    </div>
                </td>
                <td>
                    <div class="layui-inline">
                        <input type="text" class="layui-input" name="taskSettingId">
                    </div>
                </td>
                <td>
                    <div class="layui-inline">
                        <label for="" class="layui-form-label">物品名称<span class="mustInput"></span></label>
                    </div>
                </td>
                <td>
                    <select name="" id=""> 
                        <option value="">--请选择--</option>>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="layui-inline">
                        <label for="" class="layui-form-label">物品编号<span class="mustInput"></span></label>
                    </div>
                </td>
                <td colspan="3">
                    <div class="layui-inline">
                        <input type="text" class="layui-input" name="giftNumber" disabled>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="layui-inline">
                        <label for="" class="layui-form-label">发放额度<span class="mustInput"></span></label>
                    </div>
                </td>
                <td colspan="3">
                    <div class="layui-inline">
                        <input type="text" class="layui-input" name="accountNo">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button style="display:none;" class="layui-btn addItem" lay-submit lay-filter="addItem"></button>
</form>